.shop-page {
  .row {
    padding: 200px 4vw 100px;
    display: grid;
    align-items: stretch;
    gap: 100px;
    grid-template-columns: 1fr 1fr;
    .gallery {
      display: grid;
      grid-template-columns: 3fr 1fr;
      gap: 10px;
      img {
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
    .content {
      h2 {
        font-size: 30px !important;
        text-transform: uppercase;
        font-weight: 900;
        line-height: 36px;
        letter-spacing: -1px;
      }
      .price {
        display: flex;
        align-items: center;
        gap: 10px;
        .main,
        .deprice,
        span {
          font-size: 18px;
          margin: 20px 0px;
          font-weight: 700;
        }
        .deprice {
          text-decoration: line-through;
          color: #575757;
        }
      }
      .desc {
        text-align: left;
        font-size: 15px;
        border-bottom: 1px solid #dfdedd;
        padding-bottom: 20px;
        margin-bottom: 30px;
      }
      .colors {
        display: flex;
        align-items: center;
        gap: 20px;
        p {
          font-size: 14px;
          margin: 0px;
          font-weight: 600;
        }
        .color-btn {
          height: 20px;
          width: 20px;
          border: none;
          outline: none;
          border-radius: 50%;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          -ms-border-radius: 50%;
          -o-border-radius: 50%;
          &.active {
            border: 4px solid #000;
          }
          &.black {
            background-color: #020202;
          }
          &.blue {
            background-color: #0054ff;
          }
          &.white {
            background-color: #e4e4e4;
          }
        }
      }
      .qua-cart {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin: 20px 0;
        gap: 20px;
        .quantity-control {
          width: fit-content;
          font-size: 14px;
          font-weight: 900;
          height: 7px;
          background-color: #e6e8ec;
          display: flex;
          flex-direction: row;
          gap: 20px;
          flex-wrap: nowrap;
          justify-content: space-between;
          align-items: center;
          align-content: center;
          padding: 15px;
          border-radius: 20px;
          button {
            background-color: transparent;
            border: none;
            outline: none;
            display: block;
            pointer-events: all;
            text-decoration: none;
            color: unset;
            cursor: pointer;
            transition: 0.5s;
            font-size: 14px;
            font-weight: 900;
          }
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .shop-page {
    .row {
      padding: 120px 4vw 60px;
      grid-template-columns: 1fr;
      gap: 40px;
    }
  }
}

@media (max-width: 670px) {
  .shop-page {
    .row {
      .gallery {
        grid-template-columns: 1fr;
        .gallery-group {
          display: flex;
          gap: 10px;
          .other-image {
            width: 33%;
          }
          img {
            height: 75px;
          }
        }
      }
    }
  }
}
#section02-shop {
  .row {
    padding: 0 4vw 100px;
    .header {
      text-align: center;
      margin-bottom: 30px;
      h2 {
        font-size: 45px;
        font-weight: 900;
        letter-spacing: -1px;
        line-height: 60px;
        margin-bottom: 10px;
      }
    }
    .slider {
      position: relative;
      .swiper {
        width: 80%;
        margin: 0 auto;
        .swiper-slide {
          background-position: center;
          background-size: cover;
          width: 80vh;
          height: auto;
          border-radius: 30px;
          overflow: hidden;
          img {
            display: block;
            height: 100%;
            width: 100%;
          }
        }
      }
      button.prev {
        background: transparent;
        border: none;
        outline: none;
        font-size: 50px;
        font-weight: 300;
        color: #007aff;
        position: absolute;
        cursor: pointer;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
      }
      button.next {
        background: transparent;
        border: none;
        outline: none;
        font-size: 50px;
        font-weight: 300;
        color: #007aff;
        position: absolute;
        cursor: pointer;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
      }
    }
  }
}

#section03-shop {
  position: relative;
  padding-top: 100px;
  height: 150vh;
  width: 100vw;
  .wrapper {
    padding: 0px 0vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    &:nth-child(1) {
      margin-left: 12vw;
      text-align: right;
      align-items: flex-end;
      margin-top: -100px;
      padding: 0 !important;
      position: absolute;
      left: 0;
    }
    &:nth-child(2) {
      text-align: left;
      width: 22vw;
      margin-top: -110px;
      padding: 0 !important;
      position: absolute;
      right: 7vw;
    }
    &:nth-child(4) {
      position: absolute;
      left: 5vw;
      transform: translate(0px, 20vh);
      opacity: 0;
      margin-top: -15vh;
      background-color: transparent;
      display: flex;
      align-items: flex-end;
    }
    &:nth-child(5) {
      width: 30%;
      position: absolute;
      margin-top: -20vh;
      right: 4vw;
      transform: translate(0px, 20vh);
      opacity: 0;
      background-color: transparent;
      display: flex;
      align-items: flex-start;
      text-align: left;
    }
  }
  .bottle-container {
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    top: 50px;
    .image {
      text-align: center;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      align-content: center;
      justify-content: center;
      align-items: center;
      margin-left: -145px;
      .bottle {
        width: 290px;
      }
      .base {
        position: absolute;
        width: 181px;
        margin-left: 139px;
        margin-top: 550px;
        transform: translateY(70px);
        opacity: 0;
      }
    }
  }
}

#section04-shop {
  background-color: #000;
  overflow: hidden;
  position: relative;
  left: 0;
  padding-top: 3rem;
  // height: 100vh;
  padding: 40px;
  width: 100%;
  h2 {
    font-size: 35px;
    text-align: center;
    font-weight: 100;
    margin-bottom: 20px;
  }
  .table {
    padding-top: 30px;
    .table-title {
      padding: 20px 0;
      border-top: 1px solid #575757;
      &:last-child {
        border-bottom: 1px solid #575757;
      }
      p {
        font-weight: 400;
        text-align: left;
        color: #fff;
        span {
          font-weight: 100;
          padding: 20px;
          color: #aca7a7;
        }
      }
    }
  }
  .black {
    background-color: #000;
    color: #fff;

    .product-information {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 30px;
      margin-bottom: 50px;
      h4 {
        font-weight: 400;
        font-size: 18px;
      }
      img {
        height: 40px;
        margin: 15px 0px;
      }
      h5 {
        font-weight: 100;
        font-size: 16px;
      }
    }
  }
}
@media (max-width: 1024px) {
  #section03-shop {
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    .wrapper {
      &:nth-child(1) {
        margin-left: 0;
        text-align: center;
        align-items: unset;
        margin-top: -30px;
        position: relative;
        left: 0;
      }
      &:nth-child(2) {
        text-align: center;
        width: 90vw;
        margin-top: 20px;
        position: relative;
        right: 0;
      }
      &:nth-child(4) {
        position: relative;
        left: 0;
        transform: translate(0px, 0vh) !important;
        opacity: 1 !important;
        margin-top: unset;
        background-color: transparent;
        display: flex;
        padding: 4rem 0rem 0rem 0rem !important;
        align-items: center;
        align-content: center;
        bottom: 0vh !important;
      }
      &:nth-child(5) {
        width: 90vw;
        position: relative;
        margin-top: unset;
        right: 0;
        padding: 1rem 0rem !important;
        transform: translate(0px, 0vh) !important;
        opacity: 1 !important;
        background-color: transparent;
        display: flex;
        align-items: center;
        text-align: center;
        align-content: center;
        justify-content: flex-end;
        bottom: 0vh !important;
      }
      h1 {
        font-size: 10.5vw;
        line-height: 10vw;
      }
      h2 {
        font-size: 5.5vw;
      }
    }
    .bottle-container {
      transform: scale(0.65);
      margin: 1rem 0rem;
    }
  }
}

@media (max-width: 860px) {
  #section03-shop {
    height: 250vh;
    overflow-x: hidden;
  }
  #section04-shop {
    .black {
      .product-information {
        grid-template-columns: 1fr 1fr;
      }
    }
  }
}
@media (max-width: 600px) {
  #section04-shop {
    padding: 40px 10px;
  }
}
